
  .login-button {
    	width: 100%;
    	border-radius: 30px;
    	font-size: 0.9em;
    	background-color: #39acdc;
    }

  ion-item {
    padding-left: 10px !important;
    background-color: #f6f6f6;
    opacity: 0.7;    //透明度，0为完全透明
    font-size: 0.9em;
  }

  .content {
    background-size: cover;
    background-position: center;
    border-color: #39acdc;
  }

