page-landing {
    button{
        top: 50px
    }
    #bg{
        height: 1000px;
        width: auto;
        background-size:cover;  //使图片拉伸布满整个屏幕
    }
    img{
        background-size:cover;
    }

}
