.div{
    border-radius: 30px;
	margin-bottom: 10px;
	box-shadow:3px;
	border: 1px solid #fff;
}
.grid {
  margin: 0;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;

  border-radius: 2px;
}
.grid-pad {
  padding: 10px 0;
}

.login-form-forgot {
  float: right;
}

